<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Deals - HomeBrain Innovations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="home-header">
        <div class="logo-container">
            <img src="/static/images/logo.png" alt="Logo" id="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/find_deals" class="active">Find Deals</a></li>
            </ul>
        </nav>
    </header>

    <main class="deals-container">
        <h1 class="centered-title">Find the Best Deals in Las Vegas</h1>
        <form method="post" class="deals-form">
            <div class="form-group">
                <label for="budget">Investment Budget:</label>
                <input type="text" id="budget" name="budget" required>
            </div>
                <input type="submit" value="Find Deals" class="submit-btn">
            </div>
        </form>
        {% if deals %}
            <h2>Top 10 Deals:</h2>
            <ul class="deals-list">
            {% for deal in deals %}
                <li>{{ deal.property_name }} - {{ deal.address }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </main>
</body>
</html>
